* {margin: 0;
   padding: 0;
   box-sizing: border-box;}

body, html {width: 100vw;
            overflow: auto;
            overflow-x: hidden;
            overflow-y: auto;}

    @font-face {font-family: "Neue Kaine";
                font-style: normal;
                font-weight: 400;
                src: url(neue-kaine-variable.ttf) format("truetype"),}

        .neuekaine {font-family: "Neue Kaine";}

    @font-face {font-family: "Riosark";
                font-style: normal;
                font-weight: 400;
                src: url(riosarkregular-zpglb.otf) format("otf"),}

        .riosark {font-family: "Riosark";}

    @font-face {font-family: "Helvetica Now Text Black";
                font-style: normal;
                font-weight: 400;
                src: url(HelveticaNowText-Black.woff2) format("woff2"),}

        .helveticanowtextblack {font-family: "Helvetica Now Text Black";}

    @font-face {font-family: "Helvetica Now Text Extra Bold";
                font-style: normal;
                font-weight: 400;
                src: url(HelveticaNowText-ExtraBold.woff2) format("woff2"),}

        .helveticanowtextextrabold {font-family: "Helvetica Now Text Extra Bold";}

    @font-face {font-family: "Helvetica Now Text Bold";
                font-style: normal;
                font-weight: 400;
                src: url(HelveticaNowText-Bold.woff2) format("woff2"),}

        .helveticanowtextbold {font-family: "Helvetica Now Text Bold";}

    @font-face {font-family: "Helvetica Now Text Medium";
                font-style: normal;
                font-weight: 400;
                src: url(HelveticaNowText-Medium.woff2) format("woff2"),}
                                    
        .helveticanowtextmedium {font-family: "Helvetica Now Text Medium";}

    @font-face {font-family: "Helvetica Now Text Regular";
                font-style: normal;
                font-weight: 400;
                src: url(HelveticaNowText-Regular.woff2) format("woff2"),}

        .helveticanowtextregular {font-family: "Helvetica Now Text Regular";}

    @font-face {font-family: "Helvetica Now Text Light";
                font-style: normal;
                font-weight: 400;
                src: url(HelveticaNowText-Light.woff2) format("woff2"),}

        .helveticanowtextlight {font-family: "Helvetica Now Text Light";}

    @font-face {font-family: "Helvetica Now Text Extra Light";
                font-style: normal;
                font-weight: 400;
                src: url(HelveticaNowText-ExtraLight.woff2) format("woff2"),}

        .helveticanowtextextralight {font-family: "Helvetica Now Text Extra Light";}

    @font-face {font-family: "Helvetica Now Text Thin";
                font-style: normal;
                font-weight: 400;
                src: url(HelveticaNowText-Thin.woff2) format("woff2"),}

        .helveticanowtextthin {font-family: "Helvetica Now Text Thin";}

    .material-symbols-outlined {font-family: 'Material Symbols Outlined';
                                font-weight: normal;
                                font-style: normal;
                                font-size: 1em !important;
                                display: inline-block;
                                line-height: 1;
                                vertical-align: middle;
                                text-transform: none;
                                letter-spacing: normal;
                                word-wrap: normal;
                                white-space: nowrap;
                                direction: ltr;}

        .navigation {height: 15vh;
                     width: 100vw;
                     top: 0;}

                .nav-left, .nav-center, .nav-right {display: flex;
                                                    align-items: center;}
                        
                        .nav-center {justify-content: center;
                                     flex: 1;
                                     gap: 3vw;
                                     font-family: "Helvetica Now Text Light";}
                        
                        .nav-left {justify-content: flex-start;
                                   margin-left: 15vw;}
                        
                        .nav-right {justify-content: flex-end;
                                    margin-right: 15vw;
                                    font-family: "Helvetica Now Text Medium";}
                
                ul {list-style-type: none;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: fixed;
                    top: 0;
                    z-index: 1;
                    font-size: 12px;
                    width: 100vw;
                    background: rgba(255, 255, 255, 0.9);
                    backdrop-filter: blur(25px);
                    -webkit-backdrop-filter: blur(25px);}
                  
                        li {float: left;
                            position: relative;
                            padding-top: 2vh;
                            padding-bottom: 2vh;
                            display: block;
                            color: black;
                            text-align: center;
                            text-decoration: none;
                            font-size: 15px;}

                            .bluelink {color: #4285F4;}

                        li a {position: relative;
                              text-decoration: inherit;
                              color: black;
                              transition: transform 0.2s ease;}
                            
                            li a:hover {transform: scale(1.05);}

                        li a:not(:has(img))::after {content: '';
                                position: absolute;
                                left: 0;
                                right: 0;
                                bottom: -50%;
                                height: 3px;
                                background-color: #4285F4;
                                transform: scaleX(0); /* Start hidden */
                                transition: transform 0.3s ease;}
                            
                        li a:not(:has(img)):hover::after {transform: scaleX(1);}

                                .hover-bar {position: absolute;
                                            bottom: 0;
                                            height: 3px;
                                            background-color: #4285F4;
                                            width: 0; /* Initial width (hidden) */
                                            transition: all 0.3s ease;}
                  
                                img.navigation {width: 3vw;
                                                height: auto;}

        .landscape {height: 65vh;
                    width: 100vw;
                    display: flex;
                    flex-direction: column;
                    margin-top: 30vh;
                    padding-bottom: 20%;
                    padding-left: 15vw;
                    padding-right: 15vw;
                    justify-content: center;
                    align-items: center;
                    overflow: visible;}

                    h1 {font-size: 100px;
                        color: #E37400;}

                        .fade-text {
                            font-size: 100px;
                            font-weight: bold;
                            position: relative;
                            color: transparent; /* Hide text */
                            opacity: 0;
                            background-image: linear-gradient(to right, var(--start-color), #FBBC04);
                            background-clip: text;
                            -webkit-background-clip: text;
                            display: inline-block;
                            overflow: hidden;
                            animation: fade-in 1s forwards;
                        }
                        
                        @keyframes fade-in {
                            0% {
                                background-size: 0% 100%; /* Start with the gradient hidden */
                                opacity: 0;
                            }
                            100% {
                                background-size: 100% 100%; /* Gradually fill the gradient from left to right */
                                opacity: 1;
                            }
                        }
                        
                p.description {padding-left: 15vw;
                   padding-right: 15vw;
                   padding-top: 2vh;
                   padding-bottom: 5vh;
                   text-align: center;
                   font-size: 15px;
                   color: black;
                   line-height: 125%;}

                p.partners {font-size: 15px;
                            color: black;
                            line-height: 100%;}

                    .statement-wrapper {height: 100vh;
                        width: 100vw;
                        margin-top: 50vh;
                        margin-bottom: 25vh;}

                            p.statement {font-size: 75px;
                             color: #FBBC04;
                             line-height: 100%;
                             margin-right: 20vw;
                             margin-left: 20vw;
                             justify-self: center;
                             transition: color 0.5s ease;}

                                p.statement.fade-color {color: #E37400;}

                            p.statement-lead-in {font-size: 15px;
                                                     color: #FBBC04;
                                                     line-height: 100%;
                                                     margin-right: 20vw;
                                                     margin-left: 20vw;
                                                     margin-top: 10vh;
                                                     margin-bottom: 10vh;
                                                     justify-self: right;
                                                     transition: color 0.5s ease;}

                                p.statement-lead-in.fade-color {color: #E37400;
                                                                transition: transform 0.2s ease, color 0.5s ease;}

                                    a {text-decoration: none;}

                                    p.statement-lead-in.fade-color:hover {transform: scale(1.05);
                                                                          color: #e88200;}

                                        

                   .slide-fade-in {
                    width: auto;
                    opacity: 0;
                    transform: translateY(10vh); /* Start position below */
                    transition: opacity 0.5s ease-in, transform 0.25s ease-out;
                }
                
                .slide-fade-in.visible {
                    opacity: 1;
                    transform: translateY(0);
                }
                
                .button {padding-left: 15vw;
                         padding-right: 15vw;
                         justify-self: center;
                         color: #ec8e00;
                         font-size: 20px;
                         line-height: 125%;
                         transition: transform 0.2s ease;}

                    .button:hover {transform: scale(1.05);}

                .button a {text-decoration: inherit;
                           color: #ec8e00;
                           transition: color 0.25s ease;}

                    .button a:hover {color: #f3a301;}

                    .carousel-wrapper {
                        display: flex; /* Side-by-side layout */
                        justify-content: center; /* Centers the content */
                        align-items: center;
                        width: 100vw; /* Full width */
                        height: 10vh; /* Adjust height as needed */
                        gap: 2vw;
                    }
                    
                    .carousel-container {
                        display: flex;
                        align-items: center;
                        width: 50vw;
                        height: 10vh; /* Adjust height as needed */
                        overflow: hidden;
                        position: relative;
                    }
                    
                    .carousel {
                        display: flex;
                        width: auto; /* Double the width for seamless transition */
                        animation: slide 5s linear infinite;}

                    .carousel img {
                        width: auto; /* Ensure images fit properly (adjust as needed) */
                        height: 5vh;
                        object-fit: cover;
                        margin-left: 3vw;
                        margin-right: 3vw;
                        transition: opacity 0.5s ease-in-out; /* Smooth fade effect */}

/* Fade effect using absolute positioning */
.carousel-container::before,
.carousel-container::after {
    content: "";
    position: absolute;
    top: 0;
    width: 10%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
}

/* Left side fade-out */
.carousel-container::before {
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), transparent);
}

/* Right side fade-out */
.carousel-container::after {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), transparent);
}
                
                    
                    /* Keyframe Animation */
                    @keyframes slide {
                        from { transform: translateX(0); }
                        to { transform: translateX(-50%); } /* Move only halfway for a seamless loop */
                    }
                    
    .events {height: 250vh;
            width: 70vw;
            margin-top: 25vh;
            margin-bottom: 25vh;
            margin-left: 15vw;
            margin-right: 15vw;
            position: relative;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            overflow: visible;}

        h1.events {display: inline-block;
                    width: 70vw;
                    height: 30vh;
                    margin: 0vw;
                    font-size: 75px;
                   font-family: "Helvetica Now Text Bold";
                   background-image: linear-gradient(180deg,  #4285F4, #D2E3FC);
                   color: transparent;
                    background-clip: text;
                    -webkit-background-clip: text;
                    text-align: center;}
    
                   .event-container-secondary {position: relative;
                        display: flex;    
                    height: 20vh;
                       width: 20vw;
                        margin-bottom: 5vh;
                        box-shadow: 0px 0px 25px 0px #F1F3F4;
                        border-radius: 20px;
                        align-items: center;
                        }

                    .event-container-main {position: relative;
                                            top: 0vw;
                                            height: 70vh;
                                            width: 45vw;
                                            box-shadow: 0px 0px 250px 2.5px #F1F3F4;
                            border-radius: 20px;
                            float: right;
                            right: 0vw;
                            }

        h1.event-titles-main {font-size: 30px;
                         font-family: "Helvetica Now Text Bold";
                          color: #202124;
                          padding-left: 2.5vw;
                         padding-right: 2.5vw;
                         padding-top: 5vh;
                         padding-bottom: 5vh;}

                         h1.event-titles-secondary {font-size: 20px;
                            font-family: "Helvetica Now Text Bold";
                             color: #5d6165;
                             padding-left: 2.5vw;
                            padding-right: 2.5vw;
                            padding-top: 5vh;
                            padding-bottom: 5vh;}

            p.events {font-size: 12px;
                    font-family: "Helvetica Now Text Light";
                    color: #202124;
                    width: 40vw;
                    height: auto;
                    margin: 0;
                    padding-left: 2.5vw;
                         padding-right: 2.5vw;
                         padding-top: 0;
                         padding-bottom: 0;
                    text-align: left;
                align-self: left;
                justify-self: left;}

                a.eventbutton {position: absolute;
                    top: 65vh;
                    width: auto;
                    height: auto;
                    margin: 0;
                    padding-left: 2.5vw;
                         padding-right: 2.5vw;
                         text-align: left;
                    color: #4285F4;
                    font-family: "Helvetica Now Text Regular";
                    font-size: 12px;
                    cursor: pointer;
                    text-decoration: none;}

    .bottomnav {height: 25vh;
                width: 100vw;
                padding-left: 15vw;
                padding-right: 15vw;
            display: flex;}

            .disclaimer {height: 50vh;
                     width: 100%;
                     padding-left: 0;
                padding-right: 0;
                     font-size: 9px;
                     font-family: "Helvetica Now Text Light";
                     color: #9AA0A6;
                    justify-content: center;}

    .testimonials {height: 100vh;
                   width: 70vw;
                   margin-left: 15vw;
                   margin-right: 15vw;
                   margin-top: 20vh;
                    display: flex;
                    flex-wrap: wrap;}

        img.person {height: auto;
                    width: 30vw;
                    border-radius: 20px;
                    mask-image: radial-gradient(circle, black, transparent 70%);
                      }
                      
        .quote-left {height: relative;
                width: 40vw;
                padding-top: 5vh;
                padding-bottom: 5vh;
                padding-left: 0;
                padding-right: 5vw;
                font-family: "Helvetica Now Text Bold";
                font-size: 50px;
                justify-content: center;
                align-self: center;
                text-align: left;}

        .quote-right {height: relative;
                    width: 40vw;
                    padding-top: 5vh;
                    padding-bottom: 5vh;
                    padding-left: 5vw;
                    padding-right: 0;
                    font-family: "Helvetica Now Text Bold";
                    font-size: 50px;
                    justify-content: center;
                    align-self: center;
                    text-align: right;}

            .credits {height: 10vh;
                      width: 40vw;
                      font-family: "Helvetica Now Text Light";
                      font-size: 10px;
                        align-self: end;}

    .data {height: 300vh;
                            width: 70vw;
                            display: flex;
                            margin-top: 25vh;
                            margin-bottom: 25vh;
                            margin-left: 15vw;
                            margin-right: 15vw;
                            position: relative;
                            flex-wrap: wrap;
                            flex-direction: row;
                            align-items: center;
                            overflow: visible;}
                
                        h1.data {display: inline-block;
                                    width: 70vw;
                                    height: 30vh;
                                    margin: 0vw;
                                    font-size: 75px;
                                   font-family: "Helvetica Now Text Bold";
                                   background-image: linear-gradient(180deg,  #4285F4, #D2E3FC);
                                   color: transparent;
                                    background-clip: text;
                                    -webkit-background-clip: text;
                                    text-align: center;}
                    
                
                                    .datachart {position: flex;
                                                            top: 0vw;
                                                            height: 70vh;
                                                            width: 30vw;
                                                            margin-top: 5vh;
                                                            margin-bottom: 5vh;
                                                            margin-left: 5vh;
                                                            margin-right: 5vh;
                                                            box-shadow: 0px 0px 250px 2.5px #F1F3F4;
                                            border-radius: 20px;
                                            }

                                        iframe {
                                            border: none;
                                            padding-top: 2.5vh;
                                            padding-bottom: 2.5vh;
                                            padding-left: 2.5vw;
                                            padding-right: 2.5vw;
                                            overflow: hidden !important;
                                            scroll-behavior: smooth;
                                            width: 100%;
                                            height: 100%;}
                
                        h1.datachart-title {font-size: 30px;
                                         font-family: "Helvetica Now Text Bold";
                                          color: #202124;
                                          padding-left: 2.5vw;
                                         padding-right: 2.5vw;
                                         padding-top: 5vh;
                                         padding-bottom: 5vh;}
                
                            p.data {font-size: 12px;
                                    font-family: "Helvetica Now Text Light";
                                    color: #202124;
                                    width: 40vw;
                                    height: auto;
                                    margin: 0;
                                    padding-left: 2.5vw;
                                         padding-right: 2.5vw;
                                         padding-top: 0;
                                         padding-bottom: 0;
                                    text-align: left;
                                align-self: left;
                                justify-self: left;}

    .numbers {height: 100vh;
                    width: 70vw;
                display: flex;
                margin-top: 25vh;
                margin-bottom: 25vh;
                margin-left: 15vw;
                margin-right: 15vw;
                position: relative;
                flex-wrap: wrap;
                flex-direction: row;
                align-items: center;
                overflow: visible;}

                .number-containers {height: 50vh;
                                    width: 17.5vw;
                                    margin: 0;
                                    position: flex;}

                        .numbers-text {font-family: "Helvetica Now Text Light";
                                    font-size: 12px;
                                    width: 17.5vw;
                                    align-self: center;
                                    text-align: center;}


                                    .counter {
                                        font-size: 100px;
                                        font-family: "Helvetica Now Text Bold";
                                        align-self: center;
                                text-align: center;
                                color: #E37400;
                                        transition: transform 0.3s ease-in-out;
                                        animation: colorChange 3s ease-in-out 1;}
                                    
                                    @keyframes colorChange {
                                        0% {
                                            color: #FBBC04;
                                        }
                                    
                                        50% {
                                            color: #EA4335;
                                        }
                                    
                                        100% {
                                            color: #E37400;
                                        }
                                    }
                                    
                                      .counter--animate {
                                        transform: scale(1.2);
                                      }


    .program {height: 300vh;
                display: flex;
                                        width: 70vw;
                                        margin-top: 25vh;
                                        margin-bottom: 25vh;
                                        margin-left: 15vw;
                                        margin-right: 15vw;
                                        position: relative;
                                        flex-wrap: wrap;
                                        flex-direction: row;
                                        align-items: center;
                                        overflow: visible;}
                            
                                    h1.program {display: inline-block;
                                                width: 70vw;
                                                height: 30vh;
                                                margin: 0;
                                                font-size: 75px;
                                               font-family: "Helvetica Now Text Bold";
                                               background-image: linear-gradient(180deg,  #4285F4, #D2E3FC);
                                               color: transparent;
                                                background-clip: text;
                                                -webkit-background-clip: text;
                                                text-align: center;}
                                
                            
                                                .program-container {position: relative;
                                                    top: 0vw;
                                                    height: 50vh;
                                                    width: 30vw;
                                                    margin-top: 5vh;
                                                    margin-bottom: 5vh;
                                                    margin-left: 5vh;
                                                    margin-right: 5vh;
                                                    box-shadow: 0px 0px 250px 2.5px #F1F3F4;
                                    border-radius: 20px;
                                                        }
                            
                                    h1.program-title {font-size: 30px;
                                                     font-family: "Helvetica Now Text Bold";
                                                      color: #202124;
                                                      padding-left: 2.5vw;
                                                     padding-right: 2.5vw;
                                                     padding-top: 5vh;
                                                     padding-bottom: 5vh;}

                            
                                        p.program {font-size: 12px;
                                                font-family: "Helvetica Now Text Light";
                                                color: #202124;
                                                width: 30vw;
                                                height: auto;
                                                margin: 0;
                                                padding-left: 2.5vw;
                                                     padding-right: 2.5vw;
                                                     padding-top: 0;
                                                     padding-bottom: 0;
                                                text-align: left;
                                            align-self: left;
                                            justify-self: left;}
                            
                                            a.programbutton {position: relative;
                                                width: auto;
                                                height: auto;
                                                margin-top: 10vh;
                                                margin-bottom: 10vh;
                                                padding-left: 30vw;
                                                     padding-right: 30vw;
                                                     text-align: center;
                                                     align-items: center;
                                                     justify-content: center;
                                                color: #4285F4;
                                                border-radius: 20px;
                                                font-family: "Helvetica Now Text Bold";
                                                font-size: 25px;
                                                cursor: pointer;
                                                text-decoration: none;
                                                transition: transform 0.25s ease-in-out;}

                                            a.programbutton:hover {transform: scale(1.05);}
                                      
                                            
                                            
                                            .form-container {width: 70vw;
                                                            height: 100vh;
                                                             margin-left: 15vw;
                                                            margin-right: 15vw;
                                                            overflow: visible;}
                                            
                                                            h2 {
                                                                text-align: center;
                                                            }
                                                    
                                                            label {
                                                                display: inline-block;
                                                                margin: 10px 0 5px;
                                                                font-family: "Helvetica Now Text Regular"
                                                            }
                                                    
                                                            input[type="text"], input[type="email"], textarea {
                                                                width: 100%;
                                                                padding: 10px;
                                                                margin-bottom: 15px;
                                                                border: 1px solid #ccc;
                                                                border-radius: 4px;
                                                                font-size: 16px;
                                                                font-family: "Helvetica Now Text Light";
                                                            }
                                                    
                                                            input[type="checkbox"] {
                                                                margin-right: 10px;
                                                                margin-bottom: 25px;
                                                            }
                                                    
                                                            button {
                                                                background-color: #4285F4;
                                                                color: white;
                                                                padding: 10px 20px;
                                                                border: none;
                                                                border-radius: 4px;
                                                                cursor: pointer;
                                                                font-size: 16px;
                                                                width: 100%;
                                                            }
                                                    
                                                            .thank-you-message {
                                                                display: none;
                                                                text-align: center;
                                                                margin-top: 25vh;
                                                                margin-bottom: 25vh;}

                                                            h2.thankyou {font-size: 50px;
                                                                         font-family: "Helvetica Now Text Bold";
                                                                         color: #E37400;}

                                                            p.thankyou {font-size: 12px;
                                                                        font-family: "Helvetica Now Text Light"}
                                              